.row {
  margin-top: 20px !important; }

#filabusqueda {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center; }

.cajaImg2 {
  width: 20%; }

.carrito {
  cursor: pointer; }

#product {
  margin-top: 40px !important; }

#registro {
  width: 50%; }

#iniciosesion {
  width: 50%; }

input {
  display: flex; }

label {
  display: flex; }
  label span {
    color: red; }
  label a {
    display: flex; }

#entrar {
  background-color: #6ca6a4;
  border-color: #6ca6a4;
  font-weight: bold; }

#entrar:hover {
  cursor: pointer;
  background-color: #64c4bd; }

#entrarGoogle {
  color: black;
  background-color: white;
  border-color: #6ca6a4;
  font-weight: bold; }

#recuerdame {
  display: flex;
  justify-content: space-between; }

#nombre {
  display: flex;
  align-self: flex-end; }

#panel {
  margin-top: 100px !important;
  margin-bottom: 100px !important; }
