
.cabecera {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.barraNavegacion {
  margin-top: 20px;
  background-color: $fondoMenu;

  li {
    a {
      color: $blanco !important;
      border: 0.4px solid $blanco;
      border-top: none;
      border-bottom: none;
      border-left: none;
      padding: 15px !important;
    }

    a:hover {
      background-color: $fondoMenuHover;
    }
  }
}

.cajaImg {
  width: $sizeImagenEstandar;
  height: $sizeImagenEstandar;
  margin-right: 20px;
  margin-left: 95px;
  cursor: pointer;
}

.breadcrumb {
  margin-top: 50px !important;
  background-color: whitesmoke;

  a{
      text-decoration: none !important;
      font-weight: bold;
      color: rgba(108, 166, 164, 65) !important ;
  }

}