
.cabecera {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.barraNavegacion {
  margin-top: 20px;
  background-color: $fondoMenu;
  
div {
  display: flex;
  justify-content: center;
}

  li {
    a {
      color: $blanco !important;
      padding: 15px !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
      font-size: large;

}

    a:hover {
      background-color: $fondoMenuHover;
    }
  }
}

.interior{
  border: 0.4px solid $blanco;
  border-top: none;
  border-bottom: none;

}

.cajaImg {
  width: $sizeImagenEstandar;
  height: $sizeImagenEstandar;
  margin-right: 20px;
  margin-left: 95px;
  cursor: pointer;
}

.breadcrumb {
  margin-top: 50px !important;
  background-color: whitesmoke;

  a{
      text-decoration: none !important;
      font-weight: bold;
      color: rgba(108, 166, 164, 65) !important ;
  }

}

#google_translate_element{
  display: flex;
  justify-content: flex-end;
}