@import 'calendar';
@import 'variables';

#cuerpo{
    margin-top: 70px !important;
    margin-bottom: 100px !important;
  }
  #formCita{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }