@import 'variables';
@import 'cabecera';
@import 'footer';

.row {
    margin-top: 20px !important;
  }

  .reproductor{
    width: 200px !important;


    svg{
      color: $fondoFooter ;
      
    }
    padding: 5px !important;
    position: absolute;
    right: 15px;
    top: -16px;
    background-color: rgba(211, 211, 211, 0.493);
    border-radius: 10px !important;
    
   
  }