
.container-fluid {
    margin-top: 20px !important;
    font-family: liberation-serif !important;
  }

  .row {
    margin-top: 20px !important;
  }

  #foto {
    display: flex;
    align-items: center;
  }

  #cuerpo {
    margin-top: 50px !important;
    margin-bottom: 70px !important;
  }
  
  #conocenos{
      margin-top: 70px !important;
  }