@import 'variables';
@import 'cabecera';
@import 'footer';

.cajaImg {
    width: $sizeImagenEstandar;
    height: $sizeImagenEstandar;
    margin-right: 20px;
    margin-left: 95px;
    cursor: pointer;
  }